*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background: #222;
    height: 100svh;
    width: 100svw;
}
img{
    pointer-events: none;
}
p,h1,label,legend{
    color: #f0f0f0;
}
ul.stages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
}
li.stage{
    position: relative;
    display: block;
    width: 250px;
    margin: 5px;
    border: 7px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}
li.stage img{
    display: block;
    border-radius: 10px;
    width: 100%;
    opacity: 0.3;
    transition: all 0.1s;
}
li.stage p{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bolder;
}
li.stage.active img,
li.stage:hover img{
    opacity: 0.8;
}
li.stage.active {
    border: 7px solid #20b371;
}